@page
@model WebApp.Pages.Model_app.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Model_App</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model_App.Path)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model_App.Path)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model_App.Add_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model_App.Add_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model_App.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model_App.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model_App.Last_updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model_App.Last_updated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model_App.Zone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model_App.Zone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model_App.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model_App.Person)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model_App.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model_App.Event)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model_App.Automobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model_App.Automobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model_App.Other_tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model_App.Other_tags)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Model_App.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
